.main{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    font-family: "Poppins", sans-serif;
    flex-direction: column;
}

.glass{
    width: 100%;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 800px) {
.glass {
flex-direction: column;
}
}


.dashboard{
background-color: rgb(255, 255, 255);
display: flex;
flex: 1;
flex-direction: row;
align-items: center;
justify-content: space-evenly;
text-align: center;
overflow: hidden;
position: -webkit-sticky;
position: sticky;
top: 0;
z-index: 50;
}

.link {
display: flex;
flex-direction: column;
margin: 1rem 0rem;
padding: 1rem 3rem;
min-width: 100px;
align-items: center;
justify-content: space-evenly;
border-radius: 2rem;
color: black;
}

.link:hover{
background: black;
color: white;
}

.app{
margin: 1.5rem;
flex: 3;
flex-direction: column;
padding: 0.5rem;
border-radius: 2rem;
overflow: auto;
min-height: 100vh;
}